<html>
  <%- include("./partials/head.ejs") %> 
  <body>
    <div class="text-center">
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>
    </div>
  </body>
</html>

