<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %> 
<body>
  <div class="text-center">
    <h1>New Dev-Skill</h1>
    
      <form class="col-lg-6 offset-lg-4 " action="/devSkills" method="POST" autocomplete="off">
        <div class="row justify-content-center">
          <div class="input-group">
            <input type="text" name="skill">
          <div class="input-group-text">
            <label for="proficiency">Proficient?</label>
            <input class="form-check-input mt-0" type="checkbox" name="proficiency">
          </div>
          <button class="btn btn-primary" type="submit">Save Dev-Skill</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>